In [1]:
import pandas as pd

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [33]:
query="""
Select count(1) from public.green_trip_data
where 
	cast(lpep_pickup_datetime as Date) = '2019-01-15' and
	cast(lpep_dropoff_datetime as Date) = '2019-01-15';
"""
pd.read_sql(query,con=engine)

   count
0  20530

In [34]:
query="""
Select cast(lpep_pickup_datetime as Date) from public.green_trip_data where trip_distance in (
SELECT Max(trip_distance) FROM public.green_trip_data);
"""
pd.read_sql(query,con=engine)

  lpep_pickup_datetime
0           2019-01-15

In [35]:
query="""
Select passenger_count, count(1)
from 
	public.green_trip_data 
where 
	cast(lpep_pickup_datetime as Date) = '2019-01-01' and
	passenger_count in (2,3)
group by passenger_count
;"""
pd.read_sql(query,con=engine)

   passenger_count  count
0                2   1282
1                3    254

In [5]:
query="""
SELECT zones."Zone" FROM zones WHERE zones."LocationID" in (
SELECT b."DOLocationID" FROM green_trip_data b where b.tip_amount in (
SELECT max(a.tip_amount) FROM green_trip_data a where 
a."PULocationID" in (SELECT zones."LocationID" FROM zones WHERE zones."Zone" = 'Astoria')));
"""
pd.read_sql(query,con=engine)

                            Zone
0  Long Island City/Queens Plaza